.view-container {
  width: 40%;
  margin: auto;
  background-color: #e0f1fc;
  padding: 10px;
  margin-top: 10px;
  @media screen and (max-width: 768px) {
    width: 70%;
  }
  @media screen and (max-width: 600px) {
    width: 90%;
  }
  .view-user-title {
    text-align: center;
  }
  .details {
    padding: 15px;
    font-weight: 300;
    span {
      font-weight: 400;
      margin-right: 5px;
    }
  }
  .back-home {
    font-size: small;
    padding: 15px;
  }
}
